.light {
    background-color: aqua;
    color: black;
    min-height: 400px;
    width: 100%;
    padding: 50px;
}
.dark {
    background-color: black;
    color: white;
    min-height: 400px;
    padding: 50px;
    width: 100%;
}
.button {
    background-color: green;

}